<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2 style="text-align: center">Student Information</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Option</th>
        </tr>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="student: ${students}">
            <td data-th-text="${student.id}"></td>
            <td data-th-text="${student.name}"></td>
            <td data-th-text="${student.email}"></td>
            <td><a data-th-href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-success glyphicon glyphicon-wrench"></a></td>
            <td><a data-th-href="@{/students/delete/{id}(id=${student.id})}" class="btn btn-danger glyphicon glyphicon-remove"></a></td>
        </tr>
        </tbody>
    </table>
    <a data-th-href="@{/students/add-student}" class="btn btn-info glyphicon glyphicon">Add student</a>
</div>
</body>
</html>